@import "tailwindcss";

:root {
  --font-iropke: 'Iropke Batang', serif; 
  --font-pretendard : 'Pretendard', sans-serif
}

html{
  font-family: var(--font-pretendard)
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@theme {
  --text-3xl: 32px;
  --text-2xl: 24px;
  --text-xl: 20px;
  --text-2lg: 18px;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 13px;
  --text-xs: 12px;

  --text-3xl--line-height: 42px;
  --text-2xl--line-height: 32px;
  --text-xl--line-height: 32px;
  --text-2lg--line-height: 26px;
  --text-lg--line-height: 26px;
  --text-md--line-height: 24px;
  --text-sm--line-height: 22px;
  --text-xs--line-height: 20px;

  --color-black-100: #F9F9F9;
  --color-black-200: #6B6B6B;
  --color-black-300: #5E5E5E;
  --color-black-400: #525252;
  --color-black-500: #454545;
  --color-black-600: #373737;
  --color-black-700: #2B2B2B;
  --color-black-800: #1F1F1F;
  --color-black-900: #121212;
  --color-black-950: #050505;

  --color-blue-100: #FFFFFF;
  --color-blue-200: #ECEFF4;
  --color-blue-300: #CBD3E1;
  --color-blue-400: #ABB8CE;
  --color-blue-500: #8B9DBC;
  --color-blue-600: #6A82A9;
  --color-blue-700: #52698E;
  --color-blue-800: #40516E;
  --color-blue-900: #2D394E;
  --color-blue-950: #1A212D;

  --color-gray-100: #DEDEDE;
  --color-gray-200: #C4C4C4;
  --color-gray-300: #ABABAB;
  --color-gray-400: #919191;

  --color-bg: #F5F7FA;
  --color-red: #FF6577;
  --color-line-100: #F2F2F2;
  --color-line-200: #CFDBEA;

  --color-illust-yellow: #FBC85B;
  --color-illust-green: #48BB98;
  --color-illust-purple: #8E80E3;
  --color-illust-blue: #5195EE;
  --color-illust-red: #E46E80;
  --color-illust-brown: #9A695E;
  
  --color-chart-gray-100: #EFF3F8;
  --color-chart-gray-200: #E3E9F1;
  --color-chart-gray-300: #C7D1E0;

  --font-iropke : var(--font-iropke);
}
